body {
  font-family: 'Source Code Pro', monospace;
  background-color: #214760;
}

h1 {
  color: #00cc00;
  text-shadow: 0 0 2px #00cc00, 0 0 5px #00cc00;
  font-weight: 300;
}

h1:hover {
  color: #99ff99;
  text-shadow: 0 0 2px #99ff99, 0 0 5px #99ff99;
}